/* Tạo lớp giả chung cho các biến hay lặp lại */

:root {
    --primary-color: #14b9d5;
    --secondary-color: #f1f1f1;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --background-color: rgba(0, 0, 0, 0.2);
    /* subnav */
    --navbar-height: 34px;
    --header-height: 104px;
    --subnav-width: 190px;
    --subnav-height: 48px;
}

* {
    box-sizing: inherit;
}

html {
    /* Đây là hack để cho cỡ chữ thông thường = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* Css remove scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}