/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
*/

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ..)
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#app {

}

#header {
    height: var(--header-height);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.header-bar {
    display: flex;
}

.header-logo {
    margin: auto 0;
}

.header-logo img {
    width: 160px;
    height: 46px;
    object-fit: contain;
    padding: 0 15px;
}

.header-navbar {
    height: 64px;
    padding: 0 15px;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-navlist {
    display: block;
    position: relative;
}

.header-navlink::before {
    content: "";
    width: 190px;
    height: 30px;
    top: 14px;
    position: absolute;
}

.header-navlink {
    padding: 25px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
}

.header-bookbtn a {
    height: 36px;
    margin-left: 25px;
    padding: 12px 15px 10px;
    display: flex;
    align-items: center;
    background: #ba71da;
    text-decoration: none;
    border-radius: 18px;
    color: var(--white-color);
    text-transform: uppercase;
}

.header-menu {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.header-menu-icon {
    font-size: 2.5rem;
    color: var(--white-color);
}

.header-menu-icon:hover {
    cursor: pointer;
}

.header-navlink:hover ~ .header-subnav,
.header-subnav:hover {
    display: block;
}

.header-subnav {
    display:none;
    width: 190px;
    background: var(--white-color);
    color: #9a9a9a;
    z-index: 999;
    position: absolute;
    top: 44px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 2px 5px var(--secondary-color);
}

.subnav-list {
    height: 48px;
    border-bottom: 1px solid var(--secondary-color);
    padding: 15px 25px;
    position: relative;
}

.subnav-list:last-child {
    border: none;
}

.subnav-list:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.subnav-link {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 1.4rem;
}

.subnav-link-description {
    float: right;
    color: #fff;
    font-size: 1rem;
    line-height: 11px;
    padding: 3px 5px;
    border-radius: 4px;
}

.subnav-hot {
    background:#f76570;
}

.subnav-link-caret {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 17px;
}

#slider {

}

#content {

}

#footer {

}
