/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
*/


/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ..)
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#app {
    position: relative;
    top: 0;
}

/* CSS Header */

#header {
    position: absolute;
    z-index: 999;
    height: var(--header-height);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
}

.header-bar {
    display: flex;
}

.header-logo {
    margin: auto 0;
}

.header-logo img {
    width: 180px;
    height: 46px;
    object-fit: contain;
    padding: 0 15px;
}

.header-navbar {
    height: 64px;
    padding: 0 15px;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-navlist {
    display: block;
    position: relative;
}

.header-navlink::before {
    content: "";
    width: var(--subnav-width);
    height: 30px;
    top: 14px;
    position: absolute;
}

.header-navlink {
    padding: 25px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
}

.header-bookbtn .header-bookbtn-link {
    height: 36px;
    margin-left: 25px;
    padding: 12px 15px 10px;
    display: flex;
    align-items: center;
    background: #ba71da;
    text-decoration: none;
    border-radius: 18px;
    color: var(--white-color);
    text-transform: uppercase;
}

.header-menu {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.header-menu-icon {
    color: var(--white-color);
}

.header-menu:hover {
    cursor: pointer;
}

.header-navlink:hover~.header-subnav,
.header-subnav:hover {
    display: block;
}

.header-subnav,
.subnav-open-list {
    display: none;
    width: var(--subnav-width);
    background: var(--white-color);
    color: var(--text-color);
    z-index: 999;
    position: absolute;
    top: 44px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 2px 5px var(--secondary-color);
    animation: fadeIn linear .1s;
    will-change: opacity;
}

.subnav-list,
.subnav-open-item {
    height: var(--subnav-height);
    border-bottom: 1px solid var(--secondary-color);
    padding: 15px 25px;
    position: relative;
}

.subnav-list:last-child {
    border: none;
}

.subnav-list:hover,
.subnav-open-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.subnav-link,
.subnav-open-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    position: relative;
}

.subnav-link-caret {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 17px;
}

.subnav-expand::before {
    content: "";
    height: var(--subnav-height);
    /* background: red; */
    width: 25px;
    position: absolute;
    top: 0;
    left: var(--subnav-width);
}

.subnav-expand:hover>.subnav-open-list,
.subnav-open-list:hover {
    display: block;
}

.subnav-open-list {
    display: none;
    position: absolute;
    top: 0px;
    left: var(--subnav-width);
    margin-left: 25px;
}
/* ------------------------------------------- */

/* CSS Slider */

#slider {
    background-image: url('/assests/img/slide_img/slide.png');
    /* Set a specific height */
    max-height: var(--slider-height);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 270px;
    padding-bottom: 270px;
    color: var(--white-color);
}

.slider-content {
    display: flex;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.slider-title {
    font-size: 5.0rem;
    position: relative;
    margin: 0;
    padding: 0;
}

.slider-title-subtitle {
    position: relative;
    z-index: 99;
    text-decoration: none;
}

.underline-text--slider::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    display: block;
    z-index: -9;
    background: #ba71da;
}

.slider-subcontent {
    margin-top: 32px;
    font-size: 2.0rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 20px;
}

.slider-input {
    margin: 68px 0;
    width: 368px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 22px;
    padding: 10px 25px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-input-block {
    border: none;
    flex: 1;
    line-height: 40px;
}

.slider-input-block:hover {
    cursor: text;
}

.slider-input-block::placeholder {
    position: absolute;
    top: 25%;
    font-size: 14px;
    color: var(--text-color)
}

.slider-input-block:focus {
    border: none;
    outline: none;
}

.slider-input-btn {
    border: none;
    background: var(--white-color);
    color: var(--text-color);
}

.slider-input-btn:hover {
    cursor: pointer;
}

.slider-input-btn-icon {
    line-height: 44px;
}

.slider-option {
    width: 570px;
    height: 150px;    
    /* background-color: #000; */
}

.slider-option-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slider-option-item {
    padding: 15px;
    box-sizing: border-box;
    width: 112px;
    height: 104px;
    background: var(--background-color);
    margin: 23px auto;
    border-radius: 3px;
}

.slider-option-item:hover {
    box-shadow: 0 2px 4px var(--background-color);
    animation: growUp ease .1s forwards;
    will-change: transform;
}

.slider-option-link {
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.slider-option-icon {
    width: 40px;
    margin-top: 4px;
}

.slider-option-label {
    line-height: 16px;
    margin-top: 12px;
}
/* ------------------------------------------- */

/* CSS-Content */
#content {
    position: absolute;
    width: 100%;
    display: block;
    top: var(--slider-height);
    height: 1000px;
    box-sizing: border-box;
}

.content-proposals {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.content-proposals-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 62px auto 35px;
}

.content-proposals-header--label {
    line-height: 14px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
}

.content-proposals-header--title {
    line-height: 56px;
    margin: 20px 0 0 0;
    color: var(--title-color);
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 36px;
    display: flex;
}

.content-proposals-header--subtitle {
    z-index: 9;
    position: relative;
    margin-left: 10px;
}

.underline-text--proposals::after {
    content: "";
    position: absolute;
    z-index: -9;
    width: 100%;
    height: 5px;
    background-color: #1bbc9b;
    bottom: 4px;
    left: 0;
}

.content-proposals-destination {
    width: 100%;
    height: 100px;
}

.proposals-destination-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.proposals-destination-item {
    width: calc(100% / 3);
    height: 400px;
    padding: 15px;
    background-color: red;
    border: 1px solid #000;
}

#footer {

}

#buy-icon {
    
}