/* Tablet & Mobile */

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    #header,
    #slider {
        margin: 0;
        padding: 0;
    }
    .header-navbar-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }
    #slider {
        background: var(--title-color);
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}